body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.856);
}
.square {
    display: inline-block;
    height: 100px;
    width: 100px;
    background-color: rgb(184, 184, 144);
    border-radius: 5px;
    box-shadow: inset rgba(0, 0, 0, 0.336) 2px 2px 5px;
}
.square:hover {
    cursor: pointer;
}
.x::after {
    content: 'x';
    position: absolute;
    line-height: 100px;
    transform: translateX(-50%) translateY(-10%);
    font-size: 100px;
    text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.329)
}
.o::after {
    content: 'o';
    position: absolute;
    line-height: 100px;
    transform: translateX(-50%) translateY(-10%);
    font-size: 100px;
    text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.329)
}